
* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container {
    width: 100%;
    margin: 0 auto;
    font-family:'Rubik Glitch', cursive; 
    color: rgb(218, 208, 82);
    background-color:rgb(0, 0, 0);
}


/*--Navigation--*/

nav {
    text-align: center;

}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
nav ul li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 15px;

    position: relative;
}
nav ul li a {
    color: #e8db3f;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
}

nav ul li a::before{
    content: '';
    display: block;
    height: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;

}

nav ul li a:hover::before {
    width: 100%;
}
@media screen and (max-width: 770px){
    .container {
        width: 100%;
        margin: 0 auto;
    }
    nav ul li {
        display: inline-block;
        margin-left: 40px;
        padding-top: 10px;
        text-align: center;
    }
    nav ul li a {
        color: #444;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
    }
    nav {
        float:none;
    }
}

/*--head of page--*/

.titlephoto{
    background-image: url(images/backstatic.jpg);
    background-size:contain;
    height: 100vh;
}
.centered{
   
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;

}
.centered img{
    height: 600px;
    width: inherit;
    padding: 0px;
}
   
.titlephoto span{
    font-size: 60px;
    vertical-align: middle;
    color: #e8db3f;
    font-family: 'Chivo', sans-serif;
    text-align: center;
    padding-left: 10%;
}


/*--Media player--*/

.base{
    height: 100vh;
    margin: 0px;
    background-image: url(images/backdrop.jpg);
    background-size: cover;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.base h1{  
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Chivo', sans-serif;

}

.music-container{
    background-color: rgb(17, 17, 17);
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgb(141, 255, 88);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}
.img-container{
    position: relative;
    width: 110px;
}
.img-container::after{
    content: '';
    background-color:rgb(17, 17, 17) ;
    height: 20px;
    width: 20px;
    position:absolute;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.img-container img{
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;

}
.music-container.play .img-container img {
    animation-play-state: running;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn {
    background-color: rgb(17, 17, 17);
    color: gold;
    border: 0;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.action-btn-big{
    color: goldenrod;
    font-size: 30px;
}
.action-btn:focus {
    outline: 0;
}
.music-info {
    background-color: rgba(17, 17, 17, 0.5);
    border-radius:15px 15px 0 0 ;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0; 
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-info h4{
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Chivo', sans-serif;

    

}
.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}
.progress-container {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}
.progress {
    background-color:goldenrod;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
